/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la p�gina se vea correctamente.
   ================================================================== */

/*-- B�sico ----------------------------------------------------------*/
ul, ul li { 
  margin: 0; 
  padding: 0; 
  list-style: none;
 }
h1, h2 {
  color:orange;
}
h3, p, form { 
  margin: 0; 
  padding: 0; 
} 
.clear { 
  clear: both; 
}
.articulo h2 {
  background-color:#D2691E;
  padding:0.2em
}
body{
  background: #cceee4;
}
/*-- anchura ----------------------------------------------------------*/
#contenedor {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}
/*--------bordes---*/
#cabecera, #menu, #lateral, #contenido , #pie {
  border: 2px none #777;
}
/*----posicionamiento-----*/
#lateral { 
  float: left; 
  width: 20%;
  padding: 0.5em; 
}
#enlaces{
 padding-bottom: 0.5em;
}
/*-------botones----------------------*/
.botones{
  padding: 5px;
  margin: 10px;
}
.btn{
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #18aee7;
  background-color: #777;
  color: black;
  margin: 10px 0;
  display: inline-block;
  transition: 0.3s;
}
.btn:hover{
  transform: scale(1.2);
  letter-spacing: 3px;
  color: #ffffff;
}
#contenido { float: right; width: 76%; }
/*-- Cabecera --------------------------------------------------------*/
#cabecera  #logo { float: left;  }
#cabecera #buscador { float: right; }
h1 {
 color: #0ed175;
 border: 2px solid darkslategrey;
 border-radius: 24px;
 padding: 0.5em;
}
.relleno{
padding-top: 1em;
padding-right: 1em;
padding-bottom: 1em;
padding-left: 1em;
}
/*--publicidad--------------------------------------------------------*/
#publicidad{
  border: 1px Dashed #CC6600;
  background-color: #F0E68C;
  padding: 0.5em;
}
/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li {
   display: inline;
    float: left; 
  }
#menu{background-image:url(fongo.gif);
}
.relleno{
padding-top: 0.5em;
padding-right: 0.5em;
padding-left: 0.5em;
}
#menu {
  border-bottom: 1px solid #004C99;
}


.margen{
margin-bottom: 0.5em;
}
/*-- Pie de p�gina ---------------------------------------------------*/
#pie{
  border-top: 1px solid #C5C5C5;
}
 .copyright {
    float: right; 
  }
#pie {
  border-bottom: 1px solid #C5C5C5;
}
#pie {
  background-color: #DCDCDC;
}
.margen{
margin-top: 1em;
}


